body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; 
}

.content {
    position: relative;
    z-index: 1; 
    text-align: center;
    color: white; 
    padding: 20px;
}

.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 2; 
}

.sidebar button {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.sidebar-links {
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translateY(-50%, -50%);
    width: 100%;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s, transform 0.3s;
}

.sidebar-links.show {
    opacity: 1; 
}

.sidebar-links.show a {
    transform: translateX(0); 
}

.sidebar-links a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 0;
    transform: translateY(-20px); 
}

.sidebar-links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
/*different*/
.topnav {
    position: relative;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: black;
    color: gold;
  }
  
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .topnav-right {
    float: right;
  }

@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
    
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }

/*new*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: gold;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }